<mat-card>
  <mat-card-title class="title">User Information</mat-card-title>
  <mat-card-content>
    <div class="row">
      <span class="mat-caption">Name: </span> <span class="mat-subtitle">Dmytro Mezhenskyi</span>
    </div>
    <div class="row">
      <span class="mat-caption">YouTube, Twitter: </span> <span class="mat-subtitle">@DecodedFrontend</span>
    </div>
    <div class="row">
      <span class="mat-caption">Courses: </span>
      <a href="https://courses.decodedfrontend.io"class="mat-subtitle">https://courses.decodedfrontend.io</a>
    </div>
  </mat-card-content>
</mat-card>